<nav class="navbar">
    <div>
        <h1 class="navbar__title">Kitchen Story</h1>
    </div>
    <div class="navbar__search">
        <input type="search" placeholder="search">
        <button class="button">Search...</button>
    </div>
    <div class="navbar__buttons">
        <button class="button" (click)="showLoginTab()">login</button>
        <div class="login__page" *ngIf="showLogin">
           Username: <input type="username" placeholder="username"> <br>
           Password: <input type="password" placeholder="password"> <br>
                     <button>Login</button>
        </div>
        <button class="button" (click)="showRegisterTab()">Register</button>
        <div class="login__page" *ngIf="showRegister">
            Username: <input type="text" placeholder="username" [(ngModel)]="user.userName"> <br>
            Password: <input type="password" placeholder="password" [(ngModel)]="user.password"> <br>
            Password: <input type="email" placeholder="email" [(ngModel)]="user.email"> <br>
                      <button (click)="RegisterUser()">Register</button>
         </div>
    </div>
</nav>
